body {
    background-image: url(images/Background.jpeg);
    background-color: rgb(185, 233, 241);
    background-repeat: no-repeat;
    font-family: Times New Roman, Franklin Gothic Medium;
    color: #2b6a5c;
}

#compass{
    margin: 10px;
    border: 5px solid rgb(28, 145, 89);
    display: block;
    margin: auto;
    padding: 2px 5%;
}

#clock{
    margin: 10px;
    border: 5px solid rgb(28, 145, 89); 
    display: block;
    margin: auto;
    padding: 2px 5%;
}

.times table {
    tr:nth-child(even) {
        background-color: #13e5b4;
    }
    tr:nth-child(odd) {
        background-color: #00c093;
    }
    padding: 20px;
    border: 1px solid rgb(2, 80, 80);
}

head {
    color: #468a7b;
}

.navigation a:link{
    text-align: left;
    text-decoration: none;
    color: #15674e;
    background-color: transparent;
    padding: 0%;
}

.navigation a:visited{
    text-align: left;
    text-decoration: none;
    color: #1c838a;
    background-color: transparent;
    padding: 0%;
}

.navigation a:hover{
    text-align: left;
    text-decoration: none;
    color: #237769;
    background-color: transparent;
    padding: 0%;
}