body {
    background-image: url(images/Background.jpeg);
    background-repeat: no-repeat;
    font-family: Times New Roman, Franklin Gothic Medium;
}

#compass img{
    margin: 10px;
    border: 2px solid rgb(28, 145, 89);
    display: block;
    margin: auto;
}

#clock img{
    margin: 10px;
    border: 2px solid rgb(28, 145, 89); 
    display: block;
    margin: auto;
}

.times table {
    tr:nth-child(even) {
        background-color: #13e5b4;
    }
    tr:nth-child(odd) {
        background-color: #00c093;
    }
    padding: 20px;
    border: 1px solid rgb(2, 80, 80);
}

head text{
    color: #226959;
}

body text{
    color: #19584a;
}

.navigation a:link{
    text-align: left;
    text-decoration: none;
    color: #15674e;
    background-color: transparent;
    padding: 0%;
}

.navigation a:visited{
    text-align: left;
    text-decoration: none;
    color: #1c838a;
    background-color: transparent;
    padding: 0%;
}

.navigation a:hover{
    text-align: left;
    text-decoration: none;
    color: #237769;
    background-color: transparent;
    padding: 0%;
}