:root {
    --main-background-color: #f8f8eb;
    --box-background-color: #f9f6dd;
    --button-background-color: #007BFF;
    --button-text-color: white;
    --icon-color: black;
    --text-color: #2b4d5b;
    --subheading-color: #d57171;
    --image-background-color: #0d5b5f;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: var(--main-background-color);
    color: var(--text-color);
    margin: 0;
    padding: 20px;
}

h1 {
    color: var(--text-color);
    font-size: 24px;
    font-weight: bold;
}

.subheading {
    color: var(--subheading-color);
    font-size: 18px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.box {
    background-color: var(--box-background-color);
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--text-color);
}

button {
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border-radius: 5px;
    font-size: 14px;
}

#helloMessages {
    margin-top: 10px;
}

input[type="color"] {
    width: 50px;
    height: 30px;
    border: 1px solid #000;
    padding: 0;
    background: none;
    cursor: pointer;
}

.icon {
    font-size: 50px;
    color: var(--icon-color);
    margin-top: 10px;
}

.image-container {
    background-color: var(--image-background-color);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
} 

.footer {
    margin-top: 20px;
    font-size: 14px;
    color: var(--text-color);
}
