body {
    background: #9faaf5;

    font-family: Times New Roman, Franklin Gothic Medium, sans-serif;
}

h1 {
    text-align: center;
    font-size: xx-large;

    color: #7870d2;
}

h2 {
    text-align: left;

    color: #6261bf;
}