body {
    background: #C9BAF5;

    font-family: Times New Roman, Franklin Gothic Medium, sans-serif;
}

h1 {
    text-align: center;
    text-size-adjust: 20;

    color: #A23AB3;
}

h2 {
    text-align: left;

    color: #9567B2;
}