body {
    background: #9faaf5;

    font-family: Times New Roman, Franklin Gothic Medium, sans-serif;
}

h1 {
    text-align: center;
    font-size: xx-large;

    color: #655dbb;
}

h2 {
    text-align: left;

    color: #444e86;
}

.projects { display:flex; flex-wrap:wrap; } 
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: rgb(129, 87, 255); 
border-radius: 25%;
