body {
    background: hsl(166, 56%, 79%);

    font-family: Times New Roman, Franklin Gothic Medium;
}

h1 {
    text-align: center;
    font-size: x-large;

    color: #47ba93;
}

h2 {
    text-align: left;

    color: #3daa89;
}

p{
    text-align: left;

    color: #0e3f30;
}

#assignment_header {
    text-align: left;

    color: #3daa89;
}

.assignments a:link{
    text-align: left;
    text-decoration: none;
    color: #15674e;
    background-color: #3beeb8;
    padding: 20%;
}

.assignments a:visited{
    color:aqua;
    background-color: transparent;
    text-decoration: none;
}

.assignments a:hover{
    color:rgb(30, 156, 70);
    background-color: transparent;
    text-decoration: none;
}

.assignments a:active{
    color:rgb(29, 143, 143);
    background-color: transparent;
    text-decoration: none;
}


