/* Body */

body{
    margin:0;
    font-size:1em;
    font-weight:500;
    line-height:1.4;
}

header{
    width:100%;
    background-color:#000; 
    position:relative;
}

.row{
    width:1170px;
    margin: 0 auto;
}

.section-1{
    background-color:#000;
    color:#fff;
    font-family:'Berlingske Sans';
    font-size: 0.625rem;
    position:relative;
}

#main-nav{
    width:1110px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0 15px;
    background-color:#000;
    position:relative;
}

#banner-menu{
    position: absolute;
    top:0;
    right:0;
    text-wrap:nowrap;
    margin-top:10px;
}

#banner-menu ul{
    margin: 0;
    border-radius: 2px;
    list-style-type: none;
}

#banner-menu ul li{
    position: relative;
    padding-right: 10px;
}

#banner-menu ul li a{
    text-decoration:none;
    color:#fff;
}


#logo a{
    margin-top:20px;
    white-space: nowrap;
    overflow: hidden;
    height: 53px;
    display: inline-block;
    color: #73000a;
    text-decoration: none;
}

/* Section 2 */

.branding{
    background-color:#73000a;
    width:100%;
}

.branding h1 {
    position: relative;
    z-index: 10;
    font-family: 'Berlingske Serif', 'Georgia', serif;
    font-weight: 700;
    font-size: 1.6em;
    margin: 0;
    padding: .15em 0;
    list-style-type: none;
    text-indent:12%;
    width:100%;
    a{
        color:#fff;
        text-decoration:none;
        list-style: none;   
    }
}

.flex ul{
    list-style: none;
}

.flex-box div {
    display: block;
    unicode-bidi: isolate;
}

#sports-img{
    width:100%;
}


.small-box h1 {
    font-family: "Berlingske Sans Extracondensed", "Impact", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2.25em;
    letter-spacing: .8px;
    line-height: 1;
    padding-top: 4%;
    list-style: none;
}

.small-box{
    background-color: #FFF;
    border-left: 5px solid #73000a;
    width: 25%;
    position: absolute;
    color: #000;
    right: auto;
    left:15%;
    bottom: 4%;
    text-indent:2%;
}

.small-box h1{
    color:#73000a;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.small-box a{
    text-decoration:none;
}

.flex{
    padding: 0;
    list-style: none;
}

#vertical_nav {
    font-weight: 800;
    font-size: 1.125em;
    min-width:170px;
    max-width:170px;
    margin-right:2%;
    border-width:1%;
}

#vertical_nav ul li{
    border-bottom: 1px solid #C7C7C7;
    margin-bottom: 2%;
    margin-left:-100%;
    line-height: 1.4em;
}

#vertical_nav ul a{
    text-decoration:none;
    color:black;
}

#vertical_nav ul {
    list-style: none;
    list-style-image: none;
    margin-right: 0;
    padding: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 2px;
    unicode-bidi: isolate;
}

#my-arts{
    font-size:14px;
    float:right;
    margin-right:2%;
}

.grid p {
    font-size: 1.25em;
    line-height: 1.6;
    margin: -5px 0 15px;
    border-bottom: 1px solid #C7C7C7;
    padding-bottom: 20px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.grid {
    unicode-bidi: isolate;
    margin: 0 15px 0 15px;
    float: left;
    width:80%;
    display: block;
}


.grid img {
    display: block;
    width: 100%;
    height: auto;
    transition: .5s;
}

.mid-flex {
    flex: 2;
    justify-content:space-between;
    flex-wrap:wrap;
    display: inline-block;
    color:#73000a;
    margin-left:0%;
  }

  .mid-flex p{
    color:#000;
  }

  .flex-item, .flex-item1 {
    padding: 30px;
  }

  .grid{
    float:right;
    padding: 30px;
  }

  .news img{
    width:30px;
    height:30px;
    float:left;
  }

  .box1, .box2 {
    margin-top:2%;
    width:100%;
    border-bottom: 1px solid rgb(192, 192, 192);
  }

  .box1 h2,.box2 h2 {
    font-size:22px;
    margin-left:5%;
    list-style: none;
    text-decoration:none;
  }

  .box1 p, .box2 p {
    font-size: 16px;
    margin-left:5%;
    border:0;
  }

  .box1 img, .box2 img {
    width: 200px;
    height: 200px;
    display: block;
    margin-left:1%; 
    margin-right:2%; 
    margin-top: 1%;
    margin-bottom:1%;
    float:left;
}

/* Section 3 */

.section-3{
    background-color:#570008;
    color:white;
    flex: 2;
    justify-content:space-between;
    display: flex;
    flex-wrap:wrap;
    bottom:0 0% auto;
    width:100%;
}

.section-3 ul{
    border-radius: 2px;
    list-style-type: none;
    font-size:12px;
    flex:1;
    li{
        text-align:center;
    }

    a{
        color:white;
        text-decoration:none;
    }
}

.uni-header{
    text-indent:15%;
    margin-left:5%;
}

.colleges-schools h2{
    text-align:center;
}

.cs-div1 {
    padding: 10px;
    float:left;
    text-align:center;
    background-color: #969fff;
}

.cs-div2{
    padding: 10px;
    float:left;
    text-align:center;
    background-color: #969fff;
}

.cs-div3{
    padding: 10px;
    float:left;
    text-align:center;
    background-color: #969fff;
}

.div1{
    padding: 10px;
    float:left;
    text-align:center;
    background-color: #f09515;
}

.div2{
    padding: 10px;
    float:left;
    text-align:center;
    background-color: #843d12;
}

.div3{
    padding: 10px;
    float:left;
    text-align:center;
    background-color: #d29f2a;
}

#logo{
    width:100%;
}

#logo b{
    text-indent: 1000%;
    margin-top:20px;
    white-space: nowrap;
    overflow: hidden;
    width: 250px;
    height: 53px;
    display: inline-block;
    background: url(images/usc_logo_horizontal_rgb_k_rev.svg) no-repeat;
    color: #73000a;
    text-decoration: none;
    margin-left:15%;
}

/* What is happening here? */
#banner-menu2{
    text-wrap:nowrap;
    width:100%;
    background-color:#000;
    float:left;
}

#banner-menu2 ul{
    margin: 0;
    list-style-type: none;
    border-right: 1px solid white;
}

#banner-menu2 ul li{
    position: relative;
    margin:0;
    padding:0;
}

/* Why is this just teleporting to the top of the screen??? */
#banner-menu2 ul li a{
    text-decoration:none;
    color:#ffffff;
    margin:0;
    padding:0;
}

.branding2{
    background-color:#bfbfbf;
    width:100%;
}

.branding2 b{
        list-style-type: none;
        text-decoration:none;
        list-style: none; 
        color:black;
        position:relative;
}

.branding2 h1 {
    position: relative;
    z-index: 10;
    font-family: 'Berlingske Serif', 'Georgia', serif;
    font-weight: 700;
    font-size: 1.6em;
    margin: 0;
    padding: .15em 0;
    list-style-type: none;
    text-indent:12%;
    width:100%;
    a{
        color:#000000;
        text-decoration:none;
        list-style: none;   
    }
}



/* Media Queries */

@media only screen and (min-width: 768px) {
    #main-nav ul, .section-3, #banner-menu, #banner-menu2, .mid-flex, .grid, .flex, .column, .all-footer, .flex-container{
      display: flex;
    }
  
    #main-nav li, .text, .office-divisions, .tools, .flex-box, .flex, .colleges-schools{
      flex: 1;
    }
  
    .div1, .div2, .div3, .cs-div1, .cs-div2, .cs-div3{
      display:flex;
      justify-content:space-between;
      flex:25%;
    }

    .flex-item, .flex-item1{
        display:flex;
        justify-content:space-between;
        flex:25%;
      }
  }

  @media only screen and (max-width: 768px) {
    #vertical_nav, .news{
        display:none;
    }
  }