/* Body */

body{
    margin:0;
}

/* Section 1 */

.section-1{
    background-color:#000;
    color:rgb(255, 255, 255);
    width:100%;
    position: absolute;
    border:10px solid black;
    margin-top:0%;
    margin-left:0;
    font-family:'Berlingske Sans';
}

.section-1 ul{
    display:flex;
    margin: auto;
    border-radius: 2px;
    text-align: center;
    list-style-type: none;
    font-size:12px;

    li{
        flex: 1;
        text-align:center;
    }

    a{
        color:white;
        text-decoration:none;
    }
}

.flex-box img{
    float:left;
}

.flex-box{
    display:flex;
    margin-left: 10%;
    text-align: justify;
}


/* Section 2 */

/* temp code for middle section */
.section-2{
    min-height: 1000px;
}



/* Section 3 */

.section-3{
    background-color:#570008;
    color:white;
    flex: 2;
    justify-content:space-between;
    display: flex;
    flex-wrap:wrap;
}

.section-3 ul{
    border-radius: 2px;
    list-style-type: none;
    font-size:12px;
    flex:1;
    li{
        text-align:center;
    }

    a{
        color:white;
        text-decoration:none;
    }
}

.uni-header{
    text-indent:15%;
    margin-left:5%;
}

#uni-of{
    text-wrap: nowrap;
}

.div1{
    padding: 10px;
    text-align:center;
    background-color: #f09515;
}

.div2{
    padding: 10px;
    text-align:center;
    background-color: #843d12;
}

/* Media Queries */

@media only screen and (min-width: 768px) {
    #main-nav ul, .flex-box, .section-3{
      display: flex;
    }
  
    #main-nav li, .text, .office-divisions{
      flex: 1;
    }
  
    .div1, .div2{
      display:flex;
      justify-content:space-between;
      flex:5%;
    }
  }