.section-1{
    background-color:#000;
    color:white;
    width:100%;
}

.section-1 ul{
    display:flex;
    margin: auto;
    border-radius: 2px;
    text-align: center;
    list-style-type: none;
    a{
        color:white;
        text-decoration:none;
        flex: 1;
        text-align:center;
    }
}

.flex-box img{
    float:left;
}

.flex-box{
    display:flex;
}
