body{
    background-color:rgb(248, 224, 193);
    border: 1px solid rgb(255, 156, 7);
}
#main-content {
    min-height: 220 px;
    margin-left: 10px;
    margin-right: 20px;
}

/* fix margin for h2 */
h2{
  margin-left: 2%;
}

.box2 {
    background-color: rgb(1, 114, 185);
}

.box1 {
    background-color: rgb(49, 205, 150);
    text-indent: 0.5%;
}

.box3 {
    background-color: rgb(49, 205, 150);
}

.box1 img, .box3 img {
    width: 200px;
    height: 200px;
    border: 10px solid rgb(49, 205, 150);
    display: block;
    margin-left:auto; 
    margin-right:auto; 
}

.box2 img {
  width: 200px;
  height: 200px;
  border: 10px solid rgb(1, 114, 185);
  display: block;
  margin-right:auto; 
  margin-left:auto; 
}

.flex-container .text {
    flex: 1;
    text-align: left;
    text-indent: 2%;
}

#main-nav ul{
    padding:0%;
    margin: auto;
    border-radius: 2px;
    text-align: center;
}

#main-nav li {
    list-style-type: none;
    background-color: rgb(49, 205, 150);
    border: 1px solid rgb(255, 85, 0);
}

#main-nav a{
    text-decoration: none;
    color:rgb(5, 65, 44);
    margin: 5px;
}

body{
    font-family: 'Times New Roman', Times, serif;
    color:rgb(11, 71, 50);
}

#main-header h1 {
    text-align: center;
    color:rgb(5, 65, 44);
}

@media only screen and (min-width: 768px) {
  #main-nav ul, .flex-container, .footer-flexbox{
    display: flex;
  }

  #main-nav li {
    flex:1;
  }
  
  .box1, .box2, .box3{
    border-bottom: 20px solid rgb(248, 224, 193);
  }

  #main-content{
    margin-left: 100px;
    margin-right: 100px;
    border-bottom: 20px solid rgb(248, 224, 193);
  }

  #main-nav li, .text{
    flex: 1;
  }

  h2{
    margin-left: 7%;
  }
}

/* FOOTER AHHH */

  .footer-flex {
    flex: 2;
    justify-content:space-between;
    background-color: #e78d8d;
    display: flex;
    flex-wrap:wrap;
  }

  .item-links{
    background-color:aqua;
    flex: 1; 
  }

  .item-links a{
    margin: 10px;
    text-decoration: none;
  }

  .footer-flex2 {
    background-color: #e78d8d;
    display: flex;
    flex-wrap:wrap;
    justify-content:right;
    flex: 3;
  }

  .flex-item {
    padding: 20px;
    text-align:center;
    background-color: #248c10;
    justify-content:space-between;
    flex:20%;
  }

  .flex-item1 {
    padding: 20px;
    text-align:center;
    background-color: #c41010;
    justify-content:space-between;
    flex:20%;
  }
  
  .flex-item2 {
    padding: 20px;
    text-align:center;
    background-color: #6b9199;
    justify-content:space-between;
    flex:30%;
  }

  .flex-item3 {
    padding: 20px;
    text-align:center;
    background-color: #deebee;
    justify-content:space-between;
    flex:30%;
  }

  .footer {
    text-align: center;
    padding: 10px;
    background-color: #6b9199;
    color: white;
  }