body{
    background-color:rgb(248, 224, 193);
}
#main-content {
    min-height: 220 px;
    margin-left: 10px;
    margin-right: 20px;
    border-bottom: 20px solid rgb(248, 224, 193);
}

.box2 {
    background-color: rgb(1, 114, 185);
    gap: 10px;
    border-bottom: 20px solid rgb(248, 224, 193);

}

.box1 {
    background-color: rgb(49, 205, 150);
    gap: 20px;
    text-indent: 1%;
    border-bottom: 20px solid rgb(248, 224, 193);
}

.box3 {
    background-color: rgb(49, 205, 150);
    gap: 20px;
    border-bottom: 20px solid rgb(248, 224, 193);
}


.box1 img, .box3 img {
    width: 200px;
    height: 200px;
    border: 10px solid rgb(49, 205, 150);
}

.box2 img {
  width: 200px;
  height: 200px;
  border: 10px solid rgb(1, 114, 185);
}

.flex-container .text {
    flex: 1;
    text-align: left;
    text-indent: 2%;
}

#main-nav ul{
    padding:0%;
    margin: auto;
    border-radius: 2px;
    text-align: center;
}

#main-nav li {
    list-style-type: none;
    background-color: rgb(49, 205, 150);
    border: 1px solid rgb(255, 85, 0);
}

#main-nav a{
    text-decoration: none;
    color:rgb(5, 65, 44);
    margin: 5px;
}

body{
    font-family: 'Times New Roman', Times, serif;
    color:rgb(11, 71, 50);
}

#main-header h1 {
    text-align: center;
    color:rgb(5, 65, 44);
}

@media (min-width: 900px) {
  #main-nav ul, .flex-container, .footer-flexbox{
    display: flex;
  }

  #main-content{
    margin-left: 100px;
    margin-right: 100px;
  }

  #main-nav li, .text, .footer-flex, .footer-flex2{
    flex: 1;
  }
}


/* FOOTER AHHH */
.footer-flex {
    background-color: #e78d8d;
    display: flex;
    flex-wrap:wrap;
    justify-content:left;
    flex: 2;
  }
  .item-links{
    display: flex;
    flex-wrap:wrap;
    justify-content:right;
    flex: 1;
  }

  .footer-flex2 {
    background-color: #e78d8d;
    display: flex;
    flex-wrap:wrap;
    justify-content:right;
    flex: 3;
  }
  .flex-item {
    padding: 20px;
    background-color: #248c10;
    flex: 2;
  }

  .flex-item1 {
    padding: 20px;
    background-color: #c41010;
  }
  
  .flex-item2 {
    padding: 20px;
    background-color: #6b9199;
  }

  .flex-item3 {
    padding: 20px;
    background-color: #deebee;
  }
  
  .title-box1-0 {
    flex: 20%;
  }

  /* Footer */
  .footer {
    text-align: center;
    padding: 10px;
    background-color: #6b9199;
    color: white;
  }
