/* Structure */
body{
    background-color:rgb(248, 224, 193);
}
#idea1 {
    background-color:rgb(60, 255, 216);
}
#idea2 {
    background-color:rgb(58, 199, 170);
}
#idea3 {
    background-color:rgb(44, 140, 121);
}

.content{
    background-color:rgb(145, 175, 202);
    padding:3px;
    margin:5px;
    border-radius: 2px;
}

.columns, .columnsPt2{
    background-color: rgb(225, 177, 114);
    padding:3px;
    margin:5px;
    border-radius: 2px;
}

/* Navigation */
#main-nav ul{
    padding:0%;
    margin: auto;
    border-radius: 2px;
}

#main-nav li {
    list-style-type: none;
    background-color: rgb(49, 205, 150);
    border: 1px solid rgb(255, 85, 0);
}

#main-nav a{
    text-decoration: none;
    color:rgb(5, 65, 44);
    margin: 5px;
}

/* Typography */
body{
    font-family: 'Times New Roman', Times, serif;
    color:rgb(11, 71, 50);
}

#main-header h1 {
    text-align: center;
    color:rgb(5, 65, 44);
}

/* Larger Resolutions */
@media (min-width: 900px) {
  #main-nav ul, .flex-container{
    display: flex;
  }

  #main-nav li, .idea1, .idea2, .idea3{
    flex: 1;
  }
}